<div class="row">
<div class="row">
	<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h2><%= @user.username %></h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h2><%= @user.email %></h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h2><%= @user.encrypted_password %></h2>
	</div>
	</div>	
</div>
